In [1]:
#1)convert a string to lower case:
s=input("enter a string:")
s.lower()

enter a string:BABLU

'bablu'

In [2]:
#2)convert only odd indexed character to lower case:
s1=input("enter a string:")
s2=" "
for i in range(len(s1)):
    if i%2==0:
        s2=s2+s1[i].upper()
    else:
        s2=s2+s1[i].lower()
print(s2)

enter a string:PYTHON
 PyThOn

In [3]:
#3)convert only even indexed characters to lower case:
s1=input("enter a string:")
s2=" "
for i in range(len(s1)):
    if i%2==0:
        s2=s2+s1[i].lower()
    else:
        s2=s2+s1[i].upper()
print(s2)

enter a string:PYTHON
 pYtHoN

In [5]:
#4)write a pgm where you have different variable which contain your name,sex,age,phone no,fathers name and mothers name.
#And by using variable create a variable named bio_dta where you will use all this variable:
name=input("enter a name:")
sex=input("enter a sex:")
age=int(input("enter a age:"))
phone_no=int(input("enter the number:"))
fathers_name=input("enter the fathers name:")
mothers_name=input("enter the mothers name:")
bio_data="my name is {}, my gender is {}, my age is {},and my phone number is {}, and my fathers name is {}, my mothers name is {}"
l1=bio_data.format(name,sex,age,phone_no,fathers_name,mothers_name)
print(l1)

enter a name:Rahemath
enter a sex:Male
enter a age:22
enter the number:798181
enter the fathers name:Basheer
enter the mothers name:Shajidha
my name is Rahemath, my gender is Male, my age is 22,and my phone number is 798181, and my fathers name is Basheer, my mothers name is Shajidha

In [69]:
#5)write a program to count how many times "@" occured:
#in strings
s1="name1@gmail.com,name2@gmail.com,name3@gmail.com"
l=s1.count("@")
print(type(s1))
print(l)

<class 'str'>
3

In [15]:
#in list:
s2=[1,"@",2,"@",3,"@"]
l=s2.count("@")
print(type(s2))
print(l)

<class 'list'>
3

In [13]:
#in tuple:
s3=(10,20,30,"@")
l=s3.count("@")
print(type(s3))
print(l)

<class 'tuple'>
1

In [46]:
#6)write a python program to get only names from the string:
#"name1@gmail.com,name2@gmail.com,name3@gmail.com"
#output:name1,name2,name3
s4="name1@gmail.com,name2@gmail.com,name3@gmail.com"
s5=s4.split("@gmail.com")
s6=" ".join(s5)
s6

'name1 ,name2 ,name3 '

In [79]:
#7)Given a string of odd len greater than 9 return a new string made of middle three characters of a given string:
#input:"mynameissan"
#o/p:mei
s7="mynameissan"
print(s7[len(s7)//2-1]+s7[len(s7)//2:len(s7)//2+2])
#middleindex=len(s7)//2
#middleindex
#print(s7[middleindex])

mei

In [93]:
#8)write a program to insert a 2 string in the middle of 1 string:
#i/p:str1="myn"
#    str2="sa"
#o/p:"msayn"
s1="myn"
s2="sa"
s1[0]+s2[0:2]+s1[1:3]

'msayn'

In [92]:
#9)write a program to remove vowels from the entire alphabets:
#i/p:"abcdefghijklmnopqrstuvwxyz"
#o/p:" bcdfghjklmnpqrstvwxyz"
s8="abcdefghijklmnopqrstuvwxyz"
s9=["a","e","i","o","u"]
s10=s8.split()
l1=[]
for i in s8:
    if i not in s9:
        l1.append(i)
l2="".join(l1)
l2

'bcdfghjklmnpqrstvwxyz'